
html {
 box-sizing: border-box;
 background-color: rgb(249, 251, 251);
}

body {
  background-color: #fcfcfcd9;
}

.logo {
  margin-right: 0;
  text-align: center;
  border-radius: 5px;
}

nav {
  text-align: right;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
 text-align: center;
 background-color: rgb(250, 250, 250);
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

p {
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
 }

.container {
  width: 3px;
  height: 2px;
  }

cite {
  display: flex;
  justify-content:center;
}

/* .reviews {
  display: grid;
  grid-template-rows: 1fr, 1rf, 1fr;
} */

.gallery {
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  background: rgb(3, 117, 3);
  text-shadow:#f2f2f2;
}

hr {
  padding: 5px ;
  background-color:green;
  border-radius: 5px;
  text-shadow: #132710;
  text-underline-offset:none ;
}

img {
  border-radius: 5px;
  margin-left: 5px;
}

.image-container {
    display: flex;
    box-sizing: content-box;
    background-size:auto;
    width: 150px;
    height: 400px;
    border: 15px solid black;
  }

  .contact {
    text-align: center;
  }

  .card {
    display:flex;
    justify-content:space-evenly;
    
  }

  * {box-sizing:content-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position:relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:flexbox;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #111313;
  font-size: 20px;
  position:relative;
  bottom: 30px;
  margin-bottom:30px ;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}