@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:ital@1&family=Oswald&family=Poppins:ital@1&family=Roboto&family=Roboto+Mono&display=swap');


html {
 box-sizing: border-box;
 background-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin-right: 0;
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family:'poppins', sans-serif;
}

h1 {
 text-align: center;
 background-color: rgb(218, 217, 217);
}

h2 {
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(218, 217, 217);
}

p {
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
 }

.container {
  width: 3px;
  height: 2px;
  }

/* .reviews {
  display: grid;
  grid-template-rows: 1fr, 1rf, 1fr;
} */

.gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border-radius: 5px;
  background: lightgreen;
}

.buttons {
  background: rgb(3, 117, 3);
  border-radius: 5px;
}

a {
    text-decoration:none;
    color: #111;
    font-size: 20px
}

hr {
  padding: 5px ;
  background-color:green;
  border-radius: 5px;
}

img {
  margin-left: 5px;
  object-fit: cover;
  border-radius: 5px;
}

.image-container {
    display: flex;
    box-sizing: content-box;
    background-size:auto;
    width: 100px;
    height: 400px;
    border: 15px solid black;
  }

  .contact {
    text-align: center;
  }

  .card {
    display:flex;
    justify-content:space-evenly;
    
  }

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position:relative;
  margin: auto;
}

/* Hide the images by default
.mySlides {
  display:flexbox;
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #fff;
  font-size: 20px;
  position:relative;
  bottom: 30px;
  margin-bottom:30px ;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen {
  .slideshow-container {
    max-width: 1200px;
  }
}